<body>
  <div class="container" >
      <div class="box" *ngFor="let plato of recipes">
          <div class=imgBox>
              <img src="{{plato.image}}" alt="{{plato.name}}">
          </div>
          <div class="details">
              <div class="content">
                  <h2>{{plato.name}}</h2>
                  <p>{{plato.description}}</p><br>
                  <button type="submit" routerLink='/home/detalle' (click)="onShowDetalle(plato.name)"  class="btn btn-warning btn-block ">
                      Receta!
                  </button>
              </div>          
          </div>
      </div>
  </div>
  </body>

